@using Shopthucung.Models
@{
    ViewBag.Title = "chitiet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script src="~/Scripts/ct1.js" type="text/javascript" charset="utf-8" async defer></script>

}
@section css{
    <link rel="stylesheet" type="text/css" href="~/Content/chitietSP.css">
    <link rel="stylesheet" type="text/css" href="~/Content/rpchitietsanpham.css">
}
@section Menu{
    @{
        @Html.Partial("MenuPartialView", (menuDF)(ViewBag.listMenu))
    }

}
@section MenuMobie{
    @Html.Partial("MenuMBPartialView", (menuDF)(ViewBag.listMenu))
}
<div class="ct-cho ct">
    <div class="url">
        <p>
            <span class="title-url">
                @Html.ActionLink("Trang chủ", "index", "Home")
            </span>
            /
            <span class="title-url">

                @foreach (var item in ViewBag.loaiSP)
                {
                    if (item.MaLoaiSP == ViewBag.detailSP[0].MaLoaiSP)
                    {

                        <a href="/Home/listsp" title="">@item.tenLoai</a>
                        break;
                    }
                }

            </span>
            /
            <span class="title-url">
                @foreach (var item in ViewBag.fullLoai)
                {
                    if (item.MaPL == ViewBag.detailSP[0].MaPL)
                    {
                        <a href="/Home/listsp/@item.MaPL" title="">@item.TenPhanLoai</a>
                    }
                }
            </span>
        </p>
    </div>
   
    <div class="full-if">
        <div class="ct-img">
            <div class="img-selected">
                @foreach (var item in ViewBag.detailSP)
                {
                    if (ViewBag.detailSP[0].MaLoaiSP == 3)
                    {
                        <img src="@ViewBag.detailSP[0].url" alt="" width="100%" height="100%">
                        break;
                    }
                    if (item.loai == 1)
                    {

                        <img src="@item.url" alt="" width="100%" height="100%">
                        break;
                    }
                }

            </div>
            <div class="box-img-ct">
                <div class="img-choose">
                    @{
                        bool kt = false;
                    }
                    @foreach (var item in ViewBag.detailSP)
                    {

                        if (item.loai == 1)
                        {
                            if (kt == false)
                            {
                                <div class="img-list">
                                    <img src="@item.url" alt="" width="100%" height="100%">
                                </div>
                                kt = true;
                            }

                            else
                            {
                                <div class="img-list img-list-nsl">
                                    <img src="@item.url" alt="" width="100%" height="100%">
                                </div>
                            }
                        }
                    }


                </div>
                <div class="btn-prev btn-img btn-img-prev ">
                    <i class="fas fa-chevron-left"></i>
                </div>
                <div class="btn-next btn-img btn-img-next">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>

        </div>
        <div class="ct-if">
            <h3>
                MÔ TẢ
            </h3>
            <div class="ifo">
                @if (@ViewBag.detailSP[0].MaLoaiSP != 3)
                {
                <ul>
                    <li><b>Tên :</b> productID</li>
                    <li><b>Giống :</b> @ViewBag.detailSP[0].TenPhanLoai</li>
                    <li><b>Màu sắc :</b> @ViewBag.detailSP[0].mausac</li>
                    <li><b>Giới tính :</b> @ViewBag.detailSP[0].gioitinh</li>
                    <li><b>Tuổi :</b>  @ViewBag.detailSP[0].tuoi</li>
                    <li><b>Tình trạng :</b> @ViewBag.detailSP[0].tinhtrang</li>
                    
                    <li>
                        <b>Tiêm vacxin :</b>@((int.Parse(Convert.ToString(ViewBag.detailSP[0].timvacxin)) == 1) ? "Đã tiêm" : "Chưa tiêm")
                    </li>
                    <li>
                        <b>Tẩy giun :</b>@((int.Parse(Convert.ToString(ViewBag.detailSP[0].taygiun))== 1) ? "Đã tẩy" : "Chưa tẩy")

                    </li>
                    <li><b>Xuất xứ, nguồn gốc :</b> @ViewBag.detailSP[0].xuatxu</li>
                </ul>


                }


                else

                {
                    @Html.Raw(@ViewBag.detailSP[0].mota)

                }

            </div>
            <div>
                <h1>Giá bán : <span style="color:orangered"> @ViewBag.detailSP[0].price ₫</span></h1>
                <div>
                    <p style="border-radius:10px;width:30%;background-color:rgb(37 116 139);height:50px;text-align:center;text-transform:uppercase;padding-top:10px"><a href="/cart/AddCart?productID=@ViewBag.detailSP[0].MaSp&Quantity=1" style="color:white">Thêm vào giỏ hàng</a></p>
                </div>
                
            </div>

        </div>
    </div>


    <div class="sp-tt">
        <div class='title'>
            <h3>SẢN PHẨM TƯƠNG TỰ</h3>
        </div>
        <div class="list-sp">

            <div class="box">
                @{

                    String id = null;
                    foreach (var item in ViewBag.likeSP)
                    {
                        if (id != item.MaSp)
                        {
                            bool kt1 = false;
                            <div class="sp">
                                <a href="/Chi-Tiet-San-Pham/@item.MaPL/@item.MaSp" title="">
                                    <div class="img-sp">

                                        @foreach (var item1 in ViewBag.likeSP)
                                        {
                                            if (kt1 == false && item1.MaSp == item.MaSp)
                                            {

                                                <div class='anh-1'>
                                                    <img src="@item1.url" alt="" width="100%" height="100%">
                                                </div>
                                                kt1 = true;
                                            }
                                            else if (item1.MaSp == item.MaSp && kt1 == true)
                                            {

                                                <div class='anh-2'>
                                                    <img src="@item1.url" alt="" width="100%" height="100%">

                                                </div>

                                                break;
                                            }

                                        }



                                    </div>
                                    <div class='name-sp'>
                                        <h4 style="text-align:center">@item.tenSP-@item.MaSp</h4>
                                        <h5 style="color:orangered;text-align:right">@item.price ₫</h5>
                                    </div>
                                </a>
                            </div>
                        }
                        id = item.MaSp;

                    }
                }
            </div>
            <div class="box-mb hidden-box">
                @{
                    id = null;
                    foreach (var item in ViewBag.likeSP)
                    {
                        if (id != item.MaSp)
                        {
                            bool kt1 = false;
                            <div class="sp">
                                <a href="/Chi-Tiet-San-Pham/@item.MaPL/@item.MaSp" title="">
                                    <div class="img-sp">

                                        @foreach (var item1 in ViewBag.likeSP)
                                        {
                                            if (kt1 == false && item1.MaSp == item.MaSp)
                                            {

                                                <div class='anh-1'>
                                                    <img src="@item1.url" alt="" width="100%" height="100%">
                                                </div>
                                                kt1 = true;
                                            }
                                            else if (item1.MaSp == item.MaSp && kt1 == true)
                                            {

                                                <div class='anh-2'>
                                                    <img src="@item1.url" alt="" width="100%" height="100%">

                                                </div>

                                                break;
                                            }

                                        }



                                    </div>
                                    <div class='name-sp'>
                                        <h4 style="text-align:center">@item.tenSP-@item.MaSp</h4>
                                        <h5 style="color:orangered;text-align:right">@item.price ₫</h5>
                                    </div>
                                </a>
                            </div>
                        }
                        id = item.MaSp;

                    }
                }
            </div>
            <div class="btn-prev btn-list-sp btn-sp-prev btn-sp">
                <i class="fas fa-chevron-left"></i>
            </div>
            <div class="btn-next btn-list-sp btn-sp-next btn-sp">
                <i class="fas fa-chevron-right"></i>
            </div>



        </div>


    </div>
</div>


